.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding-top: 64px;
  }
}
.freeBox___9NNht {
  display: flex;
  position: relative;
  max-width: 960px;
  flex-direction: row;
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.freeBox___9NNht > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox___9NNht > :global(.__wab_flex-container) > *,
.freeBox___9NNht > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9NNht > :global(.__wab_flex-container) > picture > img,
.freeBox___9NNht
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9NNht {
    display: flex;
    flex-direction: column;
    padding-bottom: 38px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9NNht > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9NNht > :global(.__wab_flex-container) > *,
  .freeBox___9NNht > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___9NNht > :global(.__wab_flex-container) > picture > img,
  .freeBox___9NNht
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__lgSmr {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__lgSmr > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__lgSmr > :global(.__wab_flex-container) > *,
.freeBox__lgSmr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lgSmr > :global(.__wab_flex-container) > picture > img,
.freeBox__lgSmr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .logo:global(.__wab_instance) {
    height: 41px;
    flex-shrink: 0;
  }
}
.freeBox__bdd7Q {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__bdd7Q > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__bdd7Q > :global(.__wab_flex-container) > *,
.freeBox__bdd7Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bdd7Q > :global(.__wab_flex-container) > picture > img,
.freeBox__bdd7Q
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.buttonWa:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: calc(0px + 16px) !important;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .buttonWa:global(.__wab_instance):global(.__wab_instance) {
    margin-top: calc(0px + 16px) !important;
    display: block;
  }
}
.freeBox__gOzGs {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__gOzGs > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__gOzGs > :global(.__wab_flex-container) > *,
.freeBox__gOzGs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gOzGs > :global(.__wab_flex-container) > picture > img,
.freeBox__gOzGs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gOzGs {
    display: none;
  }
}
.text__p69MA {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-voQVjzkA-FuoJ5Y);
  height: auto;
}
.button__vwKyP:global(.__wab_instance) {
  position: relative;
}
.svg__dH7W {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__hLn6S {
  height: auto;
}
.svg__pD7Ur {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__x3WNk:global(.__wab_instance) {
  position: relative;
}
.svg__wmGru {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__dp46X {
  height: auto;
}
.svg__x2LY {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox___81RHs {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox___81RHs > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___81RHs > :global(.__wab_flex-container) > *,
.freeBox___81RHs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___81RHs > :global(.__wab_flex-container) > picture > img,
.freeBox___81RHs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___81RHs {
    padding-bottom: 0px;
  }
}
.link {
  position: relative;
  font-size: 12px;
  text-align: center;
  color: var(--token-CTN7n6rcxHtuzIa);
}
@media (min-width: 0px) and (max-width: 768px) {
  .link {
    font-size: 10px;
    color: var(--token-y5cpmsTtUUnKvfG);
    text-align: center;
  }
}
