.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.headerHeroSection {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background: url("/plasmic/deka_cell/images/_3476572461042979693392495594533595071774500Njpg.jpg") top 10% left 50% / contain no-repeat;
  margin-bottom: 10px;
  margin-right: 0px;
  align-self: stretch;
  padding: 0px 0px 840px;
}
.headerHeroSection > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-content: stretch;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.headerHeroSection > :global(.__wab_flex-container) > *,
.headerHeroSection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.headerHeroSection > :global(.__wab_flex-container) > picture > img,
.headerHeroSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.navbar:global(.__wab_instance) {
  width: 100%;
  align-self: stretch;
  min-width: 0;
}
.columns__n8Mdj {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: var(--token-XcYFiwcUDH49lOy);
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__n8Mdj > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  --plsmc-rc-col-gap: 64px;
}
.columns__n8Mdj > :global(.__wab_flex-container) > *,
.columns__n8Mdj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__n8Mdj > :global(.__wab_flex-container) > picture > img,
.columns__n8Mdj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
.columns__n8Mdj {
  --plsmc-rc-col-gap: 0px;
}
.columns__n8Mdj > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__n8Mdj > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__n8Mdj {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__n8Mdj > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__n8Mdj > :global(.__wab_flex-container) > *,
  .columns__n8Mdj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__n8Mdj > :global(.__wab_flex-container) > picture > img,
  .columns__n8Mdj
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__n8Mdj > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___4I2VS {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__f66A7 {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__f66A7 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__f66A7 > :global(.__wab_flex-container) > *,
.freeBox__f66A7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__f66A7 > :global(.__wab_flex-container) > picture > img,
.freeBox__f66A7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__fZ6Wq {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__fZ6Wq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__fZ6Wq > :global(.__wab_flex-container) > *,
.freeBox__fZ6Wq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fZ6Wq > :global(.__wab_flex-container) > picture > img,
.freeBox__fZ6Wq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__tJsUl {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
}
.text__bniHs {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  color: var(--token-8kAPMCwmA);
}
.text__gmeK {
  font-size: 20px;
  color: var(--token-8kAPMCwmA);
  line-height: 28px;
}
.freeBox__uuLbb {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__uuLbb > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__uuLbb > :global(.__wab_flex-container) > *,
.freeBox__uuLbb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uuLbb > :global(.__wab_flex-container) > picture > img,
.freeBox__uuLbb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.column__bd0Pk {
  display: flex;
  position: relative;
  flex-direction: column;
}
.section {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 36px;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 8px 0;
}
:where(.section > *) {
  grid-column: 4;
}
.valuePropsSection:global(.__wab_instance) {
  position: relative;
  margin-top: 0px;
}
.freeBox__lCbya {
  max-width: var(--token-XcYFiwcUDH49lOy);
  display: flex;
  flex-direction: column;
  height: auto;
}
.freeBox__lCbya > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__lCbya > :global(.__wab_flex-container) > *,
.freeBox__lCbya > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lCbya > :global(.__wab_flex-container) > picture > img,
.freeBox__lCbya
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___0GIyg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__eEtP {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-mKxumytFpK3K8OF);
  line-height: 1;
  padding-top: 0px;
}
.text___86QIe {
  font-size: 20px;
  color: var(--token-voQVjzkA-FuoJ5Y);
  text-align: left;
  line-height: 28px;
}
.freeBox__wLjUf {
  max-width: var(--token-XcYFiwcUDH49lOy);
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 64px;
}
.freeBox__wLjUf > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__wLjUf > :global(.__wab_flex-container) > *,
.freeBox__wLjUf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wLjUf > :global(.__wab_flex-container) > picture > img,
.freeBox__wLjUf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wLjUf {
    max-width: var(--token-XcYFiwcUDH49lOy);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wLjUf > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wLjUf > :global(.__wab_flex-container) > *,
  .freeBox__wLjUf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__wLjUf > :global(.__wab_flex-container) > picture > img,
  .freeBox__wLjUf
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.freeBox__bQrsw {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__bQrsw > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__bQrsw > :global(.__wab_flex-container) > *,
.freeBox__bQrsw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bQrsw > :global(.__wab_flex-container) > picture > img,
.freeBox__bQrsw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bQrsw {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bQrsw > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bQrsw > :global(.__wab_flex-container) > *,
  .freeBox__bQrsw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__bQrsw > :global(.__wab_flex-container) > picture > img,
  .freeBox__bQrsw
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 24px;
  }
}
.valueProp__wgIvD:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__wMn1 {
  padding-top: 0px;
}
.svg__hle {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__vys0J:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__np1Iw {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.kolomKontak__cKtZl:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.checkpointsSection:global(.__wab_instance) {
  position: relative;
}
.columns__ndF0O {
  max-width: var(--token-XcYFiwcUDH49lOy);
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__ndF0O > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  --plsmc-rc-col-gap: 64px;
}
.columns__ndF0O > :global(.__wab_flex-container) > *,
.columns__ndF0O > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__ndF0O > :global(.__wab_flex-container) > picture > img,
.columns__ndF0O
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
.columns__ndF0O {
  --plsmc-rc-col-gap: 0px;
}
.columns__ndF0O > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__ndF0O > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ndF0O {
    max-width: var(--token-XcYFiwcUDH49lOy);
    width: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ndF0O > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 64px);
    width: calc(100% + 64px);
    --plsmc-rc-col-gap: 64px;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ndF0O > :global(.__wab_flex-container) > *,
  .columns__ndF0O > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__ndF0O > :global(.__wab_flex-container) > picture > img,
  .columns__ndF0O
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 64px;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ndF0O > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___8EZki {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__eAfRj {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__eAfRj > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__eAfRj > :global(.__wab_flex-container) > *,
.freeBox__eAfRj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eAfRj > :global(.__wab_flex-container) > picture > img,
.freeBox__eAfRj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text___0OI {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: var(--token-j1bNhpzbdKlWsDD);
  padding-right: 0px;
}
.h2__c0DAm {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-qxPknjurOUltLIS);
  line-height: 1;
}
.text___76R5O {
  font-size: 20px;
  color: var(--token-U5I3m0smg6O5m0v);
  line-height: 28px;
  height: auto;
}
.button:global(.__wab_instance) {
  position: relative;
}
.svg___0Gpza {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___5Pys9 {
  color: var(--token-CTN7n6rcxHtuzIa);
}
.svg__qDoZh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-CTN7n6rcxHtuzIa);
}
.column__zal4C {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___6WAin {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  min-width: 0;
}
.listItem___5YxCj:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .listItem___5YxCj:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.text___5IWz {
  color: var(--token-qxPknjurOUltLIS);
}
.svg__cHrYl {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-j1bNhpzbdKlWsDD);
}
.listItem__f3Oll:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__iX94G {
  color: var(--token-qxPknjurOUltLIS);
  height: auto;
}
.svg__doGwA {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-j1bNhpzbdKlWsDD);
}
.listItem__ywYvi:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__pgXt9 {
  height: auto;
  color: var(--token-qxPknjurOUltLIS);
}
.svg__debJz {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-j1bNhpzbdKlWsDD);
}
.listItem__aAb:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___2O8C3 {
  height: auto;
  color: var(--token-qxPknjurOUltLIS);
}
.svg__xvdo4 {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-j1bNhpzbdKlWsDD);
}
.listItem__pCkaf:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__qDTz {
  height: auto;
  color: var(--token-qxPknjurOUltLIS);
}
.svg__mOvli {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-j1bNhpzbdKlWsDD);
}
.columns__y7 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 20px 52px;
}
.columns__y7 > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  --plsmc-rc-col-gap: 20px;
}
.columns__y7 > :global(.__wab_flex-container) > *,
.columns__y7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__y7 > :global(.__wab_flex-container) > picture > img,
.columns__y7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.columns__y7 {
  --plsmc-rc-col-gap: 0px;
}
.columns__y7 > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__y7 > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__y7 {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__y7 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__y7 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__uxEwf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.h3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 16px;
  min-width: 0;
}
.address {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  min-width: 0;
}
.kolomKontak__yyWWl:global(.__wab_instance) {
  position: relative;
}
.column__ujZa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.pricingSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__f4C1I {
  max-width: var(--token-XcYFiwcUDH49lOy);
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
}
.freeBox__f4C1I > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__f4C1I > :global(.__wab_flex-container) > *,
.freeBox__f4C1I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__f4C1I > :global(.__wab_flex-container) > picture > img,
.freeBox__f4C1I
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__f4C1I {
    max-width: var(--token-XcYFiwcUDH49lOy);
    display: flex;
    position: relative;
    flex-direction: column;
    top: auto;
    left: auto;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__f4C1I > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__f4C1I > :global(.__wab_flex-container) > *,
  .freeBox__f4C1I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__f4C1I > :global(.__wab_flex-container) > picture > img,
  .freeBox__f4C1I
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__xdyU {
  display: flex;
  flex-direction: column;
}
.freeBox__xdyU > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__xdyU > :global(.__wab_flex-container) > *,
.freeBox__xdyU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xdyU > :global(.__wab_flex-container) > picture > img,
.freeBox__xdyU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__dTu46 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__gQiH8 {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-qxPknjurOUltLIS);
  line-height: 1;
}
.text__xpMKi {
  font-size: 20px;
  color: var(--token-xr3yF5wp-tDdwEC);
  text-align: center;
  line-height: 28px;
  height: auto;
  padding-bottom: 0px;
}
.columns__ssQj {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1920px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns__ssQj > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  min-width: 0;
}
.columns__ssQj {
  --plsmc-rc-col-gap: 0px;
}
.columns__ssQj > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__ssQj > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__ssQj > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ssQj {
    display: flex;
    flex-direction: row;
    position: relative;
    max-width: 1920px;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ssQj > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ssQj > :global(.__wab_flex-container) > *,
  .columns__ssQj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__ssQj > :global(.__wab_flex-container) > picture > img,
  .columns__ssQj
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ssQj > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__pd8Ct {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard__sV6FY:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .priceCard__sV6FY:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.valueProp___6HoEz:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__jLj3J {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__vytGl:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__tYk0Y {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.column__jrtPk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard__vuDjd:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__f5Dgv {
  padding-bottom: 0px;
}
.valueProp__wjLsw:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 0px;
  min-width: 0;
}
.svg__h1HXb {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__woRqo:global(.__wab_instance) {
  width: 100%;
  height: 82px;
  min-width: 0;
}
.text__pGfzm {
  height: auto;
}
.svg__o6Is {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__m7DM:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__xIsmC {
  height: auto;
}
.svg__v8EeH {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___2YWbB:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__oxQ5O {
  height: auto;
}
.svg__mWdbZ {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__aDuTn:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__fAozl {
  height: auto;
}
.svg__ztmWm {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___6P3Rj:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__cyWx1 {
  height: auto;
}
.svg__sxjBu {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.buttonWa__t9C93:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.column__zDbj3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard___1MUol:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .priceCard___1MUol:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.valueProp__biJhJ:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__cM7V {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.buttonWa__jcdH:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.shopBannersSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__rnvh2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__rnvh2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__rnvh2 > :global(.__wab_flex-container) > *,
.freeBox__rnvh2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rnvh2 > :global(.__wab_flex-container) > picture > img,
.freeBox__rnvh2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rnvh2 {
    position: relative;
  }
}
.banner__reiCi:global(.__wab_instance) {
  height: 971px;
  margin-bottom: 0px;
  flex-shrink: 0;
}
.freeBox__kwfWf {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1920px;
  width: 100%;
  min-width: 0;
}
.freeBox__kwfWf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__kwfWf > :global(.__wab_flex-container) > *,
.freeBox__kwfWf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kwfWf > :global(.__wab_flex-container) > picture > img,
.freeBox__kwfWf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kwfWf {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1920px;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kwfWf > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kwfWf > :global(.__wab_flex-container) > *,
  .freeBox__kwfWf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kwfWf > :global(.__wab_flex-container) > picture > img,
  .freeBox__kwfWf
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.banner__kmXq0:global(.__wab_instance) {
  position: relative;
}
.testimonialsSection:global(.__wab_instance) {
  position: relative;
}
.columns__akp2S {
  max-width: var(--token-XcYFiwcUDH49lOy);
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns__akp2S > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  --plsmc-rc-col-gap: 32px;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.columns__akp2S > :global(.__wab_flex-container) > *,
.columns__akp2S > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__akp2S > :global(.__wab_flex-container) > picture > img,
.columns__akp2S
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 32px;
}
.columns__akp2S {
  --plsmc-rc-col-gap: 0px;
}
.columns__akp2S > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__akp2S > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__akp2S > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__akp2S {
    max-width: var(--token-XcYFiwcUDH49lOy);
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__akp2S > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 32px);
    width: calc(100% + 32px);
    --plsmc-rc-col-gap: 32px;
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__akp2S > :global(.__wab_flex-container) > *,
  .columns__akp2S > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__akp2S > :global(.__wab_flex-container) > picture > img,
  .columns__akp2S
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 32px;
    margin-top: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__akp2S > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___7SIn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.testimonial__jA0Wh:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.column___94Ojq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.testimonial___8Qmns:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.column__bzIEk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.testimonial__scTb2:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__qzFpx {
  height: auto;
}
.callToActionSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__d937C {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__d937C > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__d937C > :global(.__wab_flex-container) > *,
.freeBox__d937C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__d937C > :global(.__wab_flex-container) > picture > img,
.freeBox__d937C
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__vffLt {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: var(--token-qxPknjurOUltLIS);
  padding-left: 0px;
}
.text__kLLcX {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-qxPknjurOUltLIS);
  line-height: 1;
}
.text___3BBap {
  font-size: 20px;
  color: var(--token-U5I3m0smg6O5m0v);
  line-height: 28px;
}
.kolomKontak__c8UPz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.footerSection:global(.__wab_instance) {
  position: relative;
}
