.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.navbar:global(.__wab_instance) {
  position: relative;
}
.freeBox___7A1Wp {
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(0deg, #5856d61a 0%, #ffffff 100%);
  padding: 64px;
}
.freeBox___7A1Wp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox___7A1Wp > :global(.__wab_flex-container) > *,
.freeBox___7A1Wp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7A1Wp > :global(.__wab_flex-container) > picture > img,
.freeBox___7A1Wp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7A1Wp {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.foreground {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 1080px;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h1 {
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
  letter-spacing: normal;
}
.h2__eRly1 {
  height: auto;
  font-size: 36px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
.text___0PGkO {
  font-size: 20px;
  color: #05050599;
  line-height: 28px;
  text-align: center;
}
.foreground2 {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.valueProp__tXoae:global(.__wab_instance) {
  position: relative;
}
.img___6Cb4I {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img___6Cb4I > picture > img {
  object-fit: cover;
}
.img___6Cb4I > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.valueProp__gyVa8:global(.__wab_instance) {
  position: relative;
}
.img__j978Y {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__j978Y > picture > img {
  object-fit: cover;
}
.img__j978Y > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.valueProp__w2BlK:global(.__wab_instance) {
  position: relative;
}
.img__cju7N {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__cju7N > picture > img {
  object-fit: cover;
}
.img__cju7N > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.valueProp___3LDpc:global(.__wab_instance) {
  position: relative;
}
.img__qrTr {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__qrTr > picture > img {
  object-fit: cover;
}
.img__qrTr > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.valueProp___4Sxtj:global(.__wab_instance) {
  position: relative;
}
.img___1NZaI {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img___1NZaI > picture > img {
  object-fit: cover;
}
.img___1NZaI > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.valueProp__kkvFp:global(.__wab_instance) {
  position: relative;
}
.img__iAap {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__iAap > picture > img {
  object-fit: cover;
}
.img__iAap > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.valueProp__y6MM8:global(.__wab_instance) {
  position: relative;
}
.img__dzUhL {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__dzUhL > picture > img {
  object-fit: cover;
}
.img__dzUhL > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.valueProp___9E9PI:global(.__wab_instance) {
  position: relative;
}
.img__oioQi {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__oioQi > picture > img {
  object-fit: cover;
}
.img__oioQi > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.kolomKontak__iti4M:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox___5Xh8H {
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(0deg, #5856d61a 0%, #ffffff 100%);
  padding: 64px;
}
.freeBox___5Xh8H > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox___5Xh8H > :global(.__wab_flex-container) > *,
.freeBox___5Xh8H > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5Xh8H > :global(.__wab_flex-container) > picture > img,
.freeBox___5Xh8H
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5Xh8H {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.foreground4 {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 1080px;
}
.foreground4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground4 > :global(.__wab_flex-container) > *,
.foreground4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground4 > :global(.__wab_flex-container) > picture > img,
.foreground4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h2___0Eeey {
  height: auto;
  font-size: 36px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
.text__u6Hr8 {
  font-size: 20px;
  color: #05050599;
  line-height: 28px;
  text-align: center;
}
.foreground5 {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.foreground5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground5 > :global(.__wab_flex-container) > *,
.foreground5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground5 > :global(.__wab_flex-container) > picture > img,
.foreground5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.valueProp__pZjMy:global(.__wab_instance) {
  position: relative;
}
.img__l0I6D {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__l0I6D > picture > img {
  object-fit: cover;
}
.img__l0I6D > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: var(--token--qfadpUqgZ0Rvb9);
  padding: 64px 32px;
}
.foreground3 {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__icBva {
  display: flex;
  flex-direction: column;
}
.freeBox__icBva > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__icBva > :global(.__wab_flex-container) > *,
.freeBox__icBva > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__icBva > :global(.__wab_flex-container) > picture > img,
.freeBox__icBva
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___0VJ9H {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__mki28 {
  height: auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
}
.text__oFj0S {
  font-size: 20px;
  color: #ffffff80;
  line-height: 28px;
  height: auto;
}
.freeBox__eE09R {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.freeBox__eE09R > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__eE09R > :global(.__wab_flex-container) > *,
.freeBox__eE09R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eE09R > :global(.__wab_flex-container) > picture > img,
.freeBox__eE09R
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.kolomKontak___42Lr5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.footerSection:global(.__wab_instance) {
  position: relative;
}
