.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 64px;
}
.freeBox___9NNht {
  display: flex;
  position: relative;
  max-width: 960px;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox___9NNht > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox___9NNht > :global(.__wab_flex-container) > *,
.freeBox___9NNht > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9NNht > :global(.__wab_flex-container) > picture > img,
.freeBox___9NNht
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9NNht {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9NNht > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9NNht > :global(.__wab_flex-container) > *,
  .freeBox___9NNht > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___9NNht > :global(.__wab_flex-container) > picture > img,
  .freeBox___9NNht
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__lgSmr {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__lgSmr > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__lgSmr > :global(.__wab_flex-container) > *,
.freeBox__lgSmr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lgSmr > :global(.__wab_flex-container) > picture > img,
.freeBox__lgSmr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__bdd7Q {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__bdd7Q > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__bdd7Q > :global(.__wab_flex-container) > *,
.freeBox__bdd7Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bdd7Q > :global(.__wab_flex-container) > picture > img,
.freeBox__bdd7Q
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___4Hosp {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___4Hosp > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___4Hosp > :global(.__wab_flex-container) > *,
.freeBox___4Hosp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4Hosp > :global(.__wab_flex-container) > picture > img,
.freeBox___4Hosp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.svg__bfpT0 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-voQVjzkA-FuoJ5Y);
  flex-shrink: 0;
}
.svg__vpgoy {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-voQVjzkA-FuoJ5Y);
  flex-shrink: 0;
}
.svg__zmbQb {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-voQVjzkA-FuoJ5Y);
  flex-shrink: 0;
}
.freeBox__gOzGs {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__gOzGs > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__gOzGs > :global(.__wab_flex-container) > *,
.freeBox__gOzGs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gOzGs > :global(.__wab_flex-container) > picture > img,
.freeBox__gOzGs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__p69MA {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-voQVjzkA-FuoJ5Y);
  height: auto;
}
.button__vwKyP:global(.__wab_instance) {
  position: relative;
}
.svg__dH7W {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__hLn6S {
  height: auto;
}
.svg__pD7Ur {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__x3WNk:global(.__wab_instance) {
  position: relative;
}
.svg__wmGru {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__dp46X {
  height: auto;
}
.svg__x2LY {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__s017C:global(.__wab_instance) {
  position: relative;
}
.svg__gwqCm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__yfGxf {
  height: auto;
}
.svg__dGlkD {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__ujzNe:global(.__wab_instance) {
  position: relative;
}
.svg__aCddr {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__pgTLo {
  height: auto;
}
.svg___6GBfY {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox___81RHs {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox___81RHs > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___81RHs > :global(.__wab_flex-container) > *,
.freeBox___81RHs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___81RHs > :global(.__wab_flex-container) > picture > img,
.freeBox___81RHs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text___6MBvz {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-voQVjzkA-FuoJ5Y);
  height: auto;
}
.button__gahWt:global(.__wab_instance) {
  position: relative;
}
.svg__epwWn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__gm2K {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__liz0F:global(.__wab_instance) {
  position: relative;
}
.svg__ok3Ej {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__bEBl8 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___6LaC:global(.__wab_instance) {
  position: relative;
}
.svg__hwyYs {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__iwI0M {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__ilf7L {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__ilf7L > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__ilf7L > :global(.__wab_flex-container) > *,
.freeBox__ilf7L > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ilf7L > :global(.__wab_flex-container) > picture > img,
.freeBox__ilf7L
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__wQ8RS {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-voQVjzkA-FuoJ5Y);
  height: auto;
}
.button__orM9D:global(.__wab_instance) {
  position: relative;
}
.svg__kozja {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__nrzg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__qK86K:global(.__wab_instance) {
  position: relative;
}
.svg__t67I {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__gqFiG {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___4EagW:global(.__wab_instance) {
  position: relative;
}
.svg__peBxs {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__fNsyc {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__tBq4Q:global(.__wab_instance) {
  position: relative;
}
.svg___3HDrt {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__xdc4U {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
