.root:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__ovGUe {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text {
  text-align: left;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text {
    font-size: 14px;
  }
}
.svg__m4RmI {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
