.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.navbar:global(.__wab_instance) {
  position: relative;
}
.freeBox__qnQ3E {
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(0deg, #5856d61a 0%, #ffffff 100%);
  padding: 64px;
}
.freeBox__qnQ3E > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__qnQ3E > :global(.__wab_flex-container) > *,
.freeBox__qnQ3E > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qnQ3E > :global(.__wab_flex-container) > picture > img,
.freeBox__qnQ3E
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qnQ3E {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.foreground {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 1080px;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h1 {
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
  letter-spacing: normal;
}
.h2__ahxkZ {
  height: auto;
  font-size: 36px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
.text__nf5K2 {
  font-size: 20px;
  color: #05050599;
  line-height: 28px;
  text-align: center;
}
.foreground2 {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.valueProp__uwu67:global(.__wab_instance) {
  position: relative;
}
.img___6SulB {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img___6SulB > picture > img {
  object-fit: cover;
}
.img___6SulB > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.valueProp__itYqB:global(.__wab_instance) {
  position: relative;
}
.img__mFzvv {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__mFzvv > picture > img {
  object-fit: cover;
}
.img__mFzvv > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: var(--token--qfadpUqgZ0Rvb9);
  padding: 64px 32px;
}
.foreground3 {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__iRtt {
  display: flex;
  flex-direction: column;
}
.freeBox__iRtt > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__iRtt > :global(.__wab_flex-container) > *,
.freeBox__iRtt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iRtt > :global(.__wab_flex-container) > picture > img,
.freeBox__iRtt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__qlImc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__rHsyC {
  height: auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
}
.text__bvOns {
  font-size: 20px;
  color: #ffffff80;
  line-height: 28px;
  height: auto;
}
.freeBox__wKxEp {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.freeBox__wKxEp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__wKxEp > :global(.__wab_flex-container) > *,
.freeBox__wKxEp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wKxEp > :global(.__wab_flex-container) > picture > img,
.freeBox__wKxEp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.kolomKontak:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.footerSection:global(.__wab_instance) {
  position: relative;
}
