@import url("https://fonts.googleapis.com/css2?family=Roboto%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C700%3B0%2C900&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-zV5yMtBWvAoTSRn: #007aff;
  --plasmic-token-blue: var(--token-zV5yMtBWvAoTSRn);
  --token-XcYFiwcUDH49lOy: 1080px;
  --plasmic-token-content-max-width: var(--token-XcYFiwcUDH49lOy);
  --token-myZxfJdq_yhOKlb: #f2f2f7d9;
  --plasmic-token-light-gray-06: var(--token-myZxfJdq_yhOKlb);
  --token-w02QwgoSwbg-KdJ: #e5e5ea;
  --plasmic-token-light-gray-05: var(--token-w02QwgoSwbg-KdJ);
  --token-mKxumytFpK3K8OF: var(--token-3DLiAPhOc3EejIs);
  --plasmic-token-light-label: var(--token-mKxumytFpK3K8OF);
  --token-voQVjzkA-FuoJ5Y: #480f0fb3;
  --plasmic-token-light-secondary: var(--token-voQVjzkA-FuoJ5Y);
  --token-y5cpmsTtUUnKvfG: #007aff;
  --plasmic-token-light-blue: var(--token-y5cpmsTtUUnKvfG);
  --token-_tO5WKnCz8s9O9Z: #ff3b30;
  --plasmic-token-light-red: var(--token-_tO5WKnCz8s9O9Z);
  --token-ER0EqoDprnUkdkZ: #ffffff;
  --plasmic-token-white: var(--token-ER0EqoDprnUkdkZ);
  --token-qxPknjurOUltLIS: #ffffffd9;
  --plasmic-token-dark-label: var(--token-qxPknjurOUltLIS);
  --token-U5I3m0smg6O5m0v: #ffffff80;
  --plasmic-token-dark-secondary: var(--token-U5I3m0smg6O5m0v);
  --token-mFHWe0T7RgT1YxX: #0000001a;
  --plasmic-token-light-quarternary: var(--token-mFHWe0T7RgT1YxX);
  --token-3DLiAPhOc3EejIs: #1c1c1e;
  --plasmic-token-dark-gray-06: var(--token-3DLiAPhOc3EejIs);
  --token-j1bNhpzbdKlWsDD: #32d74b;
  --plasmic-token-dark-green: var(--token-j1bNhpzbdKlWsDD);
  --token-CTN7n6rcxHtuzIa: #0a84ff;
  --plasmic-token-dark-blue: var(--token-CTN7n6rcxHtuzIa);
  --token-ulAp7kgy-JSNO6A: #ffffff1a;
  --plasmic-token-dark-quarternary: var(--token-ulAp7kgy-JSNO6A);
  --token-xr3yF5wp-tDdwEC: #34c759;
  --plasmic-token-light-green: var(--token-xr3yF5wp-tDdwEC);
  --token--qfadpUqgZ0Rvb9: #5856d6;
  --plasmic-token-light-indigo: var(--token--qfadpUqgZ0Rvb9);
  --token-8kAPMCwmA: #480f0f00;
  --plasmic-token-transparant: var(--token-8kAPMCwmA);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin--H6K7WrUhhMVOlV_font-family: "Roboto", sans-serif;
  --mixin--H6K7WrUhhMVOlV_font-size: 16px;
  --mixin--H6K7WrUhhMVOlV_font-weight: 400;
  --mixin--H6K7WrUhhMVOlV_font-style: normal;
  --mixin--H6K7WrUhhMVOlV_color: var(--token-mKxumytFpK3K8OF);
  --mixin--H6K7WrUhhMVOlV_text-align: left;
  --mixin--H6K7WrUhhMVOlV_text-transform: none;
  --mixin--H6K7WrUhhMVOlV_line-height: 1.5;
  --mixin--H6K7WrUhhMVOlV_letter-spacing: normal;
  --mixin--H6K7WrUhhMVOlV_white-space: pre-wrap;
  --mixin--H6K7WrUhhMVOlV_user-select: text;
  --mixin--H6K7WrUhhMVOlV_text-decoration-line: none;
  --mixin--H6K7WrUhhMVOlV_text-overflow: clip;
  --mixin-9ee6heUoU65th16_white-space: pre-wrap;
  --mixin-Eir3k9xEbBTSJRf_font-family: "Inter", sans-serif;
  --mixin-Eir3k9xEbBTSJRf_color: #000000;
  --mixin-Eir3k9xEbBTSJRf_font-size: 72px;
  --mixin-Eir3k9xEbBTSJRf_font-weight: 900;
  --mixin-Eir3k9xEbBTSJRf_letter-spacing: -4px;
  --mixin-Eir3k9xEbBTSJRf_line-height: 1;
  --mixin-Eir3k9xEbBTSJRf_white-space: pre-wrap;
  --mixin-W_Q8lS30JW1uM1k_font-family: "Inter", sans-serif;
  --mixin-W_Q8lS30JW1uM1k_color: #000000;
  --mixin-W_Q8lS30JW1uM1k_font-size: 32px;
  --mixin-W_Q8lS30JW1uM1k_font-weight: 600;
  --mixin-W_Q8lS30JW1uM1k_letter-spacing: -0.8px;
  --mixin-W_Q8lS30JW1uM1k_line-height: 1.2;
  --mixin-W_Q8lS30JW1uM1k_white-space: pre-wrap;
  --mixin-MTsa4Uo3B5nRRDv_font-family: "Inter", sans-serif;
  --mixin-MTsa4Uo3B5nRRDv_color: #000000;
  --mixin-MTsa4Uo3B5nRRDv_font-size: 24px;
  --mixin-MTsa4Uo3B5nRRDv_font-weight: 600;
  --mixin-MTsa4Uo3B5nRRDv_letter-spacing: -0.5px;
  --mixin-MTsa4Uo3B5nRRDv_line-height: 1.3;
  --mixin-MTsa4Uo3B5nRRDv_white-space: pre-wrap;
  --mixin-bx2I_5uB2w6O7-9_font-family: "Inter", sans-serif;
  --mixin-bx2I_5uB2w6O7-9_color: #000000;
  --mixin-bx2I_5uB2w6O7-9_font-size: 20px;
  --mixin-bx2I_5uB2w6O7-9_font-weight: 600;
  --mixin-bx2I_5uB2w6O7-9_letter-spacing: -0.3px;
  --mixin-bx2I_5uB2w6O7-9_line-height: 1.5;
  --mixin-bx2I_5uB2w6O7-9_white-space: pre-wrap;
  --mixin-CjTzlljvlkFxOjb_font-family: "Inter", sans-serif;
  --mixin-CjTzlljvlkFxOjb_color: #000000;
  --mixin-CjTzlljvlkFxOjb_font-size: 16px;
  --mixin-CjTzlljvlkFxOjb_font-weight: 600;
  --mixin-CjTzlljvlkFxOjb_line-height: 1.5;
  --mixin-CjTzlljvlkFxOjb_white-space: pre-wrap;
  --mixin-8JMQTpfPv-nX39X_border-left-color: #dddddd;
  --mixin-8JMQTpfPv-nX39X_border-left-style: solid;
  --mixin-8JMQTpfPv-nX39X_border-left-width: 3px;
  --mixin-8JMQTpfPv-nX39X_color: #888888;
  --mixin-8JMQTpfPv-nX39X_padding-left: 10px;
  --mixin-8JMQTpfPv-nX39X_white-space: pre-wrap;
  --mixin-NBhg0V_Kl6hEpG3_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-NBhg0V_Kl6hEpG3_border-bottom-color: #dddddd;
  --mixin-NBhg0V_Kl6hEpG3_border-bottom-style: solid;
  --mixin-NBhg0V_Kl6hEpG3_border-bottom-width: 1px;
  --mixin-NBhg0V_Kl6hEpG3_border-left-color: #dddddd;
  --mixin-NBhg0V_Kl6hEpG3_border-left-style: solid;
  --mixin-NBhg0V_Kl6hEpG3_border-left-width: 1px;
  --mixin-NBhg0V_Kl6hEpG3_border-right-color: #dddddd;
  --mixin-NBhg0V_Kl6hEpG3_border-right-style: solid;
  --mixin-NBhg0V_Kl6hEpG3_border-right-width: 1px;
  --mixin-NBhg0V_Kl6hEpG3_border-top-color: #dddddd;
  --mixin-NBhg0V_Kl6hEpG3_border-top-style: solid;
  --mixin-NBhg0V_Kl6hEpG3_border-top-width: 1px;
  --mixin-NBhg0V_Kl6hEpG3_border-bottom-left-radius: 3px;
  --mixin-NBhg0V_Kl6hEpG3_border-bottom-right-radius: 3px;
  --mixin-NBhg0V_Kl6hEpG3_border-top-left-radius: 3px;
  --mixin-NBhg0V_Kl6hEpG3_border-top-right-radius: 3px;
  --mixin-NBhg0V_Kl6hEpG3_font-family: "Inconsolata";
  --mixin-NBhg0V_Kl6hEpG3_padding-bottom: 1px;
  --mixin-NBhg0V_Kl6hEpG3_padding-left: 4px;
  --mixin-NBhg0V_Kl6hEpG3_padding-right: 4px;
  --mixin-NBhg0V_Kl6hEpG3_padding-top: 1px;
  --mixin-NBhg0V_Kl6hEpG3_white-space: pre-wrap;
  --mixin-Bicdk2RkemFewc9_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Bicdk2RkemFewc9_border-bottom-color: #dddddd;
  --mixin-Bicdk2RkemFewc9_border-bottom-style: solid;
  --mixin-Bicdk2RkemFewc9_border-bottom-width: 1px;
  --mixin-Bicdk2RkemFewc9_border-left-color: #dddddd;
  --mixin-Bicdk2RkemFewc9_border-left-style: solid;
  --mixin-Bicdk2RkemFewc9_border-left-width: 1px;
  --mixin-Bicdk2RkemFewc9_border-right-color: #dddddd;
  --mixin-Bicdk2RkemFewc9_border-right-style: solid;
  --mixin-Bicdk2RkemFewc9_border-right-width: 1px;
  --mixin-Bicdk2RkemFewc9_border-top-color: #dddddd;
  --mixin-Bicdk2RkemFewc9_border-top-style: solid;
  --mixin-Bicdk2RkemFewc9_border-top-width: 1px;
  --mixin-Bicdk2RkemFewc9_border-bottom-left-radius: 3px;
  --mixin-Bicdk2RkemFewc9_border-bottom-right-radius: 3px;
  --mixin-Bicdk2RkemFewc9_border-top-left-radius: 3px;
  --mixin-Bicdk2RkemFewc9_border-top-right-radius: 3px;
  --mixin-Bicdk2RkemFewc9_font-family: "Inconsolata";
  --mixin-Bicdk2RkemFewc9_padding-bottom: 3px;
  --mixin-Bicdk2RkemFewc9_padding-left: 6px;
  --mixin-Bicdk2RkemFewc9_padding-right: 6px;
  --mixin-Bicdk2RkemFewc9_padding-top: 3px;
  --mixin-Bicdk2RkemFewc9_white-space: pre-wrap;
  --mixin-Egg7UQVr8X43gPh_display: flex;
  --mixin-Egg7UQVr8X43gPh_flex-direction: column;
  --mixin-Egg7UQVr8X43gPh_align-items: stretch;
  --mixin-Egg7UQVr8X43gPh_justify-content: flex-start;
  --mixin-Egg7UQVr8X43gPh_list-style-position: outside;
  --mixin-Egg7UQVr8X43gPh_padding-left: 40px;
  --mixin-Egg7UQVr8X43gPh_position: relative;
  --mixin-Egg7UQVr8X43gPh_list-style-type: decimal;
  --mixin-Egg7UQVr8X43gPh_white-space: pre-wrap;
  --mixin-aDgWXtG-5IuzEHt_display: flex;
  --mixin-aDgWXtG-5IuzEHt_flex-direction: column;
  --mixin-aDgWXtG-5IuzEHt_align-items: stretch;
  --mixin-aDgWXtG-5IuzEHt_justify-content: flex-start;
  --mixin-aDgWXtG-5IuzEHt_list-style-position: outside;
  --mixin-aDgWXtG-5IuzEHt_padding-left: 40px;
  --mixin-aDgWXtG-5IuzEHt_position: relative;
  --mixin-aDgWXtG-5IuzEHt_list-style-type: disc;
  --mixin-aDgWXtG-5IuzEHt_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-BSe5T_zVYaP5R05_box-shadow: 0px 0px 0px 3px #007aff80;
  --plasmic-mixin-focus-shadow_box-shadow: var(
    --mixin-BSe5T_zVYaP5R05_box-shadow
  );
  --mixin-4MIJ8GrzIMlY-L6_box-shadow: 0px 0px 0px 4px #0095ff80;
  --plasmic-mixin-focus-outline_box-shadow: var(
    --mixin-4MIJ8GrzIMlY-L6_box-shadow
  );
  --mixin-TG4L7JxVOrc3Kd4_box-shadow: 0px 1px 1px 1px #0000001a;
  --plasmic-mixin-extra-small-shadow_box-shadow: var(
    --mixin-TG4L7JxVOrc3Kd4_box-shadow
  );
  --mixin-TD1qirEI0WtFbJp_box-shadow: 0px 10px 10px 0px #00000026;
  --plasmic-mixin-medium-shadow_box-shadow: var(
    --mixin-TD1qirEI0WtFbJp_box-shadow
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin--H6K7WrUhhMVOlV_font-family);
  font-size: var(--mixin--H6K7WrUhhMVOlV_font-size);
  font-weight: var(--mixin--H6K7WrUhhMVOlV_font-weight);
  font-style: var(--mixin--H6K7WrUhhMVOlV_font-style);
  color: var(--mixin--H6K7WrUhhMVOlV_color);
  text-align: var(--mixin--H6K7WrUhhMVOlV_text-align);
  text-transform: var(--mixin--H6K7WrUhhMVOlV_text-transform);
  line-height: var(--mixin--H6K7WrUhhMVOlV_line-height);
  letter-spacing: var(--mixin--H6K7WrUhhMVOlV_letter-spacing);
  white-space: var(--mixin--H6K7WrUhhMVOlV_white-space);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-family: var(--mixin-Eir3k9xEbBTSJRf_font-family);
  color: var(--mixin-Eir3k9xEbBTSJRf_color);
  font-size: var(--mixin-Eir3k9xEbBTSJRf_font-size);
  font-weight: var(--mixin-Eir3k9xEbBTSJRf_font-weight);
  letter-spacing: var(--mixin-Eir3k9xEbBTSJRf_letter-spacing);
  line-height: var(--mixin-Eir3k9xEbBTSJRf_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-W_Q8lS30JW1uM1k_font-family);
  color: var(--mixin-W_Q8lS30JW1uM1k_color);
  font-size: var(--mixin-W_Q8lS30JW1uM1k_font-size);
  font-weight: var(--mixin-W_Q8lS30JW1uM1k_font-weight);
  letter-spacing: var(--mixin-W_Q8lS30JW1uM1k_letter-spacing);
  line-height: var(--mixin-W_Q8lS30JW1uM1k_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-MTsa4Uo3B5nRRDv_font-family);
  color: var(--mixin-MTsa4Uo3B5nRRDv_color);
  font-size: var(--mixin-MTsa4Uo3B5nRRDv_font-size);
  font-weight: var(--mixin-MTsa4Uo3B5nRRDv_font-weight);
  letter-spacing: var(--mixin-MTsa4Uo3B5nRRDv_letter-spacing);
  line-height: var(--mixin-MTsa4Uo3B5nRRDv_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-bx2I_5uB2w6O7-9_font-family);
  color: var(--mixin-bx2I_5uB2w6O7-9_color);
  font-size: var(--mixin-bx2I_5uB2w6O7-9_font-size);
  font-weight: var(--mixin-bx2I_5uB2w6O7-9_font-weight);
  letter-spacing: var(--mixin-bx2I_5uB2w6O7-9_letter-spacing);
  line-height: var(--mixin-bx2I_5uB2w6O7-9_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-CjTzlljvlkFxOjb_font-family);
  color: var(--mixin-CjTzlljvlkFxOjb_color);
  font-size: var(--mixin-CjTzlljvlkFxOjb_font-size);
  font-weight: var(--mixin-CjTzlljvlkFxOjb_font-weight);
  line-height: var(--mixin-CjTzlljvlkFxOjb_line-height);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-8JMQTpfPv-nX39X_color);
  padding-left: var(--mixin-8JMQTpfPv-nX39X_padding-left);
  border-left: var(--mixin-8JMQTpfPv-nX39X_border-left-width)
    var(--mixin-8JMQTpfPv-nX39X_border-left-style)
    var(--mixin-8JMQTpfPv-nX39X_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-NBhg0V_Kl6hEpG3_font-family);
  border-radius: var(--mixin-NBhg0V_Kl6hEpG3_border-top-left-radius)
    var(--mixin-NBhg0V_Kl6hEpG3_border-top-right-radius)
    var(--mixin-NBhg0V_Kl6hEpG3_border-bottom-right-radius)
    var(--mixin-NBhg0V_Kl6hEpG3_border-bottom-left-radius);
  padding: var(--mixin-NBhg0V_Kl6hEpG3_padding-top)
    var(--mixin-NBhg0V_Kl6hEpG3_padding-right)
    var(--mixin-NBhg0V_Kl6hEpG3_padding-bottom)
    var(--mixin-NBhg0V_Kl6hEpG3_padding-left);
  border-top: var(--mixin-NBhg0V_Kl6hEpG3_border-top-width)
    var(--mixin-NBhg0V_Kl6hEpG3_border-top-style)
    var(--mixin-NBhg0V_Kl6hEpG3_border-top-color);
  border-right: var(--mixin-NBhg0V_Kl6hEpG3_border-right-width)
    var(--mixin-NBhg0V_Kl6hEpG3_border-right-style)
    var(--mixin-NBhg0V_Kl6hEpG3_border-right-color);
  border-bottom: var(--mixin-NBhg0V_Kl6hEpG3_border-bottom-width)
    var(--mixin-NBhg0V_Kl6hEpG3_border-bottom-style)
    var(--mixin-NBhg0V_Kl6hEpG3_border-bottom-color);
  border-left: var(--mixin-NBhg0V_Kl6hEpG3_border-left-width)
    var(--mixin-NBhg0V_Kl6hEpG3_border-left-style)
    var(--mixin-NBhg0V_Kl6hEpG3_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-Bicdk2RkemFewc9_font-family);
  border-radius: var(--mixin-Bicdk2RkemFewc9_border-top-left-radius)
    var(--mixin-Bicdk2RkemFewc9_border-top-right-radius)
    var(--mixin-Bicdk2RkemFewc9_border-bottom-right-radius)
    var(--mixin-Bicdk2RkemFewc9_border-bottom-left-radius);
  padding: var(--mixin-Bicdk2RkemFewc9_padding-top)
    var(--mixin-Bicdk2RkemFewc9_padding-right)
    var(--mixin-Bicdk2RkemFewc9_padding-bottom)
    var(--mixin-Bicdk2RkemFewc9_padding-left);
  border-top: var(--mixin-Bicdk2RkemFewc9_border-top-width)
    var(--mixin-Bicdk2RkemFewc9_border-top-style)
    var(--mixin-Bicdk2RkemFewc9_border-top-color);
  border-right: var(--mixin-Bicdk2RkemFewc9_border-right-width)
    var(--mixin-Bicdk2RkemFewc9_border-right-style)
    var(--mixin-Bicdk2RkemFewc9_border-right-color);
  border-bottom: var(--mixin-Bicdk2RkemFewc9_border-bottom-width)
    var(--mixin-Bicdk2RkemFewc9_border-bottom-style)
    var(--mixin-Bicdk2RkemFewc9_border-bottom-color);
  border-left: var(--mixin-Bicdk2RkemFewc9_border-left-width)
    var(--mixin-Bicdk2RkemFewc9_border-left-style)
    var(--mixin-Bicdk2RkemFewc9_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-Egg7UQVr8X43gPh_display);
  flex-direction: var(--mixin-Egg7UQVr8X43gPh_flex-direction);
  align-items: var(--mixin-Egg7UQVr8X43gPh_align-items);
  justify-content: var(--mixin-Egg7UQVr8X43gPh_justify-content);
  list-style-position: var(--mixin-Egg7UQVr8X43gPh_list-style-position);
  padding-left: var(--mixin-Egg7UQVr8X43gPh_padding-left);
  position: var(--mixin-Egg7UQVr8X43gPh_position);
  list-style-type: var(--mixin-Egg7UQVr8X43gPh_list-style-type);
  flex-column-gap: var(--mixin-Egg7UQVr8X43gPh_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-aDgWXtG-5IuzEHt_display);
  flex-direction: var(--mixin-aDgWXtG-5IuzEHt_flex-direction);
  align-items: var(--mixin-aDgWXtG-5IuzEHt_align-items);
  justify-content: var(--mixin-aDgWXtG-5IuzEHt_justify-content);
  list-style-position: var(--mixin-aDgWXtG-5IuzEHt_list-style-position);
  padding-left: var(--mixin-aDgWXtG-5IuzEHt_padding-left);
  position: var(--mixin-aDgWXtG-5IuzEHt_position);
  list-style-type: var(--mixin-aDgWXtG-5IuzEHt_list-style-type);
  flex-column-gap: var(--mixin-aDgWXtG-5IuzEHt_flex-column-gap);
}
