.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1920px;
  overflow: hidden;
  position: relative;
  background: var(--token-myZxfJdq_yhOKlb);
  padding-bottom: 0px;
  justify-self: flex-start;
  grid-column-start: 3;
  grid-column-end: -3;
  border-radius: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    background: none;
  }
}
.right {
  display: flex;
  position: absolute;
  width: 75%;
  right: 0px;
  height: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
}
@media (min-width: 0px) and (max-width: 768px) {
  .right {
    opacity: 0.25;
  }
}
.img {
  position: relative;
  align-self: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
